html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
Html {
  font-size: 62.5%;
}
.header {
  width: 100%;
  height: 15vh;
  border-bottom: 2px solid lightgrey;
  display: flex;
  align-items: center;
}
.navBar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.navLink {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.navLink__link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000000;
}
.navLink__link:hover {
  color: #898bbb;
}
.loginLink {
  text-decoration: none;
}
.loginBtn {
  width: 150px;
  height: 35px;
  border: 2px solid lightgrey;
  background-color: #898bbb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginBtn:hover {
  background-color: #5a6eb4;
}
.loginBtn__element {
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
}
.navBar__img {
  width: 250px;
}
.intro {
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.intro__img {
  width: 30%;
  border-left: 2px solid grey;
  background-image: url("../img/sharon-mccutcheon-VeBn2VPxqLA-unsplash.jpg");
  background-position: center;
}
.intro__text {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}
.intro__text .visionHeader {
  font-size: 6.2rem;
  font-weight: 600;
  width: 50%;
  color: grey;
}
.intro__text .visionDesc {
  width: 50%;
  font-size: 2rem;
  line-height: 130%;
  color: grey;
}
.mission {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #898bbb;
}
.mission__text-container {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.missionDesc__header {
  font-size: 4.5rem;
  font-weight: 600;
  width: 50%;
  color: #FFFFFF;
}
.missionDesc__copy {
  font-size: 2rem;
  font-weight: 600;
  width: 50%;
  color: #FFFFFF;
  line-height: 130%;
}
.product {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid lightgrey;
}
.product__img {
  width: 40%;
  background-image: url("../img/christian-wiediger-rymh7EZPqRs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 4px solid lightgrey;
}
.product__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productCopy {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.productHeader {
  font-size: 4rem;
  color: grey;
}
.productCopy__header {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 130%;
  color: grey;
}
.productCopy__description {
  color: grey;
  font-size: 1.6rem;
  line-height: 140%;
}
.productHeader {
  font-size: 3.2rem;
  font-weight: 600;
}
.featureIcons {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featureIcons__container {
  width: 95%;
  height: 85%;
  display: flex;
  justify-content: space-around;
}
.plan,
.secure,
.options,
.tools {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.plan__header,
.secure__header,
.options__header,
.tools__header {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  line-height: 130%;
  color: #3751a3;
}
.plan__img,
.secure__img,
.options__img,
.tools__img {
  width: 45%;
}
.joinUs {
  height: 35vh;
  width: 100%;
  background-color: #898bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/freeFromBoard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid lightgray;
}
.joinUs div {
  width: 20%;
  height: auto;
  font-size: 6.2rem;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  text-justify: center;
}
.userFlow {
  height: 70vh;
  display: flex;
  justify-content: space-around;
}
.assets,
.findOptions,
.survive {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.assets__header,
.findOptions__header,
.survive__header {
  font-size: 3rem;
  font-weight: 700;
  color: #5a6eb4;
  text-justify: center;
}
.assets__copy,
.findOptions__copy,
.survive__copy,
.assets__list,
.findOptions__list,
.survive__list {
  font-size: 1.6rem;
  line-height: 130%;
}
.assets__copy,
.findOptions__copy,
.survive__copy {
  color: #898bbb;
  font-weight: 700;
}
.assets__list,
.findOptions__list,
.survive__list {
  list-style-type: disc;
}
.assets__list li,
.findOptions__list li,
.survive__list li {
  margin-bottom: 3%;
}
.footer {
  height: 25vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer span,
.footer address {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 400;
}
.socialIcons {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.socialIcons__img i {
  font-size: 4rem;
  color: #FFFFFF;
}
.socialIcons__img:hover {
  color: #898bbb;
}
@media (max-width: 1500px) {
  .intro__img {
    display: none;
  }
  .intro__text {
    width: 80%;
  }
  .mission__text-container {
    width: 80%;
  }
  .missionDesc__copy {
    width: 60%;
  }
  .product {
    height: 100vh;
    margin-top: 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .product__img {
    width: 100%;
    height: 40%;
  }
  .productCopy__group {
    margin-top: 1.25%;
  }
  .plan,
  .secure,
  .options,
  .tools {
    width: 24%;
  }
  .userFlow {
    height: 80vh;
  }
}
@media (max-width: 1400px) {
  .navLink__link {
    font-size: 1.5rem;
  }
  .featureIcons {
    height: 70vh;
  }
  .featureIcons__container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
  }
  .plan,
  .secure,
  .options,
  .tools {
    width: 50%;
    margin-top: 1%;
  }
  .plan__img,
  .secure__img,
  .options__img,
  .tools__img {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .header {
    height: 40vh;
    border: none;
  }
  .navBar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .navLink {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navLink__link {
    height: 50%;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    font-size: 2rem;
  }
  .loginBtn {
    margin-top: 2%;
  }
  .intro__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .intro__text .visionDesc {
    width: 80%;
    text-align: center;
  }
  .intro__text .visionHeader {
    text-align: center;
    width: 100%;
  }
  .mission {
    height: 45vh;
  }
  .mission__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .mission__text-container {
    width: 90%;
  }
  .mission__text-container article {
    margin-top: 4%;
  }
  .product__text {
    margin-top: 2%;
    height: 100%;
  }
  .featureIcons__container {
    width: 80%;
  }
  .product__img {
    display: none;
  }
  .userFlow {
    height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .assets,
  .findOptions,
  .survive {
    width: 80%;
    height: 30%;
  }
  .socialIcons {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .intro {
    height: 70vh;
  }
  .visionHeader {
    width: 100%;
  }
  .mission {
    height: 45vh;
  }
  .mission__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .plan__img,
  .secure__img,
  .options__img,
  .tools__img {
    width: 65%;
  }
  .footer span {
    text-align: center;
    line-height: 150%;
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto 3% auto;
}
.contributor {
  width: 32%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}
.contributor__img {
  border-radius: 15%;
  border: 3px solid grey;
  width: 65%;
}
.contributor__name {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 3%;
}
.contributor__title {
  font-size: 1.9rem;
  font-weight: 600;
  color: #8a411e;
}
.contributor__link {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}
.contributor__link:hover {
  color: #5a6eb4;
}
.contributor__title,
.contributor__link,
.contributor__name {
  margin-top: 1.5%;
}
@media (max-width: 1000px) {
  .team {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .contributor {
    width: 80%;
  }
}
.policy {
  width: 80%;
  margin: 2.2% auto;
}
.policyIntro__header {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  line-height: 140%;
}
.policyIntro__copy {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: grey;
}
.definitions {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.definitions__header {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}
.definitions__term {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2%;
  color: #3751a3;
}
.definitions__copy {
  font-size: 1.6rem;
  font-size: 400;
  line-height: 140%;
  color: grey;
}
.dataUse__header {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 140%;
  margin-top: 1%;
}
.dataUse__subheader {
  font-size: 2rem;
  font-weight: 600;
  line-height: 140%;
  margin-top: 2%;
}
.dataUse__copy {
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: 400;
}
.dataUse__list {
  list-style-type: disc;
  font-size: 1.6rem;
  margin-left: 3%;
  margin-top: 1%;
  color: #5a6eb4;
}
.dataUse__list li {
  margin-bottom: 1%;
  line-height: 140%;
}
.TOS__header {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 140%;
  margin-top: 1%;
  margin-bottom: 2%;
  color: #5a6eb4;
  text-align: center;
}
.TOS__copy {
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 2%;
}
.TOS {
  width: 80%;
  margin: 3% auto;
}
